@font-face {
  font-family: 'CustomFont';
  src: url('fonts/2F0B90_2_0.woff') format('woff');
}


body {
  font-family:'CustomFont', sans-serif;
  margin: auto;
  max-width: 1280px;
}

.about {
}

h1 {
  font-size: 100px;
}

.about h1 {
  font-size: 40px;
}

img {
  width: 33%;
}

.image-container {
  max-width: 100%;
  flex-basis: auto;
}

.image-container img {

}

.container {
  display: flex;
  justify-content: space-evenly;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
